{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Home</h1>
    <button><a href="{{ path('app_logout') }}">Log out</a></button>
{% endblock %}
