a{
    font-family: 'Anton', sans-serif;
}

h1{
    font-family: 'Anton', sans-serif;
}

a:hover{
    text-underline: none;
}

body{
    background: #b2bec3;
}

.plays-font{
    font-family: 'Playfair Display', serif;
}
.anton-font{
    font-family: 'Anton', sans-serif;
}
.lobster-font{
    font-family: 'Lobster', cursive;
}

#footer{
    position:absolute;
    bottom:0;
    height:100px;
    width:100%;
}

/* index */
.admin-route{
    color: #1e272e;
}

.admin-route:hover{
    transition: 0.7s;
    color:#485460;
}

.sidebar{
    background: grey;
    position:absolute;
    left:0;
}
.poll-title{
    font-size:23px;
    font-family: 'Lobster', cursive;
    background: darkblue;
    color:snow;
    padding:4px;
}

.poll-block{
    border: 1px solid grey;
    margin:10px 10%;
    padding:10px;
    background: grey;
    -webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);;
}
.poll-ul{
    list-style-type: none;
    display:inline-block;
    color: lightcyan;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: darkblue;
}