a{
    font-family: 'Anton', sans-serif;
}

h1{
    font-family: 'Anton', sans-serif;
}

a:hover{
    text-underline: none;
}

body{
    background: #b2bec3;
}

.plays-font{
    font-family: 'Playfair Display', serif;
}
.anton-font{
    font-family: 'Anton', sans-serif;
}
.lobster-font{
    font-family: 'Lobster', cursive;
}

#footer{
    position:fixed;
    bottom:0;
    height:100px;
    width:100%;
}

/* index */
.admin-route{
    color: #1e272e;
}

.admin-route:hover{

    transition: 0.7s;
    color:#485460;
}