<div class="sidebar ">
    <br />
    <a href="{{ path('questions') }}" class="text-dark sidebar-item ml-2">Questions</a><br />
    <a href="{{ path('answers') }}" class="text-dark sidebar-item ml-2">Answers</a><br />
    <a href="{{ path('users') }}" class="text-dark sidebar-item ml-2">Users</a><br />
    <a href="{{ path('results') }}" class="text-dark sidebar-item ml-2">Poll Result</a><br />
</div>