<div class="sidebar col-lg-1 col-3 ">
    <br />
    <a href="{{ path('q-home') }}" class="text-dark sidebar-item">Show questions</a><br />
    <a href="{{ path('answers') }}" class="text-dark sidebar-item">Show answers</a><br />
    <a href="{{ path('users') }}" class="text-dark sidebar-item">Show Users</a><br />
    <a href="{{ path('results') }}" class="text-dark sidebar-item">Show Results</a><br />
</div>